@font-face {
  font-family: "Poppins-Regular";
  font-weight: 400;
  src: url("../assets/fonts/poppins-regular-webfont.eot");
  src: url("../assets/fonts/poppins-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/poppins-regular-webfont.woff") format("woff"),
    url("../assets/fonts/poppins-regular-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Poppins-Bold";
  font-weight: 700;
  src: url("../assets/fonts/poppins-bold-webfont.eot");
  src: url("../assets/fonts/poppins-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/poppins-bold-webfont.woff") format("woff"),
    url("../assets/fonts/poppins-bold-webfont.ttf") format("truetype");
  /* Safari, Android, iOS */
}
